@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing : border-box;
    user-select: none;
}

body{
    margin: 0;
    user-select: none;
}

.btn-group{
    display: block;
    position: fixed;
    bottom: 0;
    background: linear-gradient(transparent, rgb(255, 255, 255) 30%);
    width: 100%;
    padding: 5%;
}

.btn-group-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: fixed;
    bottom: 0;
    background: linear-gradient(transparent, rgb(255, 255, 255) 30%);
    width: 100%;
    padding: 5%;
}


.btn-blue{
    color: #fff;
    padding: 15px 17px;
    background-color: #4a90ff;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: none;
    width: 100%;
}

.btn-gray{
    color: #000;
    padding: 15px 17px;
    background-color: #ececec;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: none;
    width: 100%;
}

.block{
    display: block;
}

.title{
    font-size: 26px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
}

.tab{
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    max-width: 100%;
    padding: 5% 0;
    border-top: solid 0.5px #ddd;
    background-color: #fff;
    color: #999;
    font-size: 20px;
}

.tab a{
    color: #aaa;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    text-align: center;
}

.tab a.active{ 
    color: #555;
}

.tab p{
    font-size: 12px;
    color: #777;
    margin-top: 3px;
    margin-bottom: 0;
}

.not{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 50px 7%;
}

a{
    -webkit-tap-highlight-color: transparent;
}